.outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.55rem;
    background-color: white;
    width: 30%;
    padding: 20px;

    @media screen and (max-width: 1024px) {
      width: 60%;
    }

    @media screen and (max-width: 767px) {
      width: 90%;
    }

    .imgBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 8rem;

        @media screen and (min-width: 768px) {
          width: 10rem;
        }
      }

      .underline {
        width: 100px;
        height: 6px;
        background: black;
        border-radius: 9px;
        margin-bottom: 3px;
      }
    }

    .innerbox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .input {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 70%;
        height: 50px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.158);
        background-color: whitesmoke;
        border-radius: 0.55rem;

        @media screen and (max-width: 1024px) {
          width: 80%;
        }

        @media screen and (max-width: 767px) {
          width: 75%;
        }

        input {
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
        }
      }

      .login_button_holder {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .login_button {
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease;
          border-radius: 0.55rem;
          height: 40px;
          background-color: var(--primary-color);
          color: white;
          width: 70%;
          outline: none;

          @media screen and (max-width: 1024px) {
            width: 80%;
          }

          @media screen and (max-width: 767px) {
            width: 75%;
          }

          .spinner {
            scale: 0.4;
          }

          &:hover {
            box-shadow: 0 0 0 3px var(--tertiary-color);
            transform: scale(1.03);
          }
        }
      }
    }
  }
}
