.prof_box_wrap {
  position: fixed;
  top: 10%;
  left: 0;
  transition: all 0.5s ease;
}

.prof_box_hide {
  left: -400px;
}

.prof_box {
  background-color: white;
  border-radius: 0.55rem;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
}

.prof_head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--primary-color)40;
}

.prof_head svg {
  transition: all 0.7s ease;
  cursor: pointer;
}

.prof_box svg:hover {
  scale: 1.1;
  transform: rotate(360deg);
}

.button_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button_wrap button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 0.55rem;
  padding: 7px 0;
  color: white;
  font-weight: 500;
  box-shadow: 1px 1px 2px 0px var(--primary-color)28, -1px -1px 2px 0px var(--primary-color)48;
  transition: all 0.5s ease;
}

.button_wrap button:hover {
  scale: 1.02;
  box-shadow: 0px 0px 0px 4px var(--primary-color)50, -0px -0px 0px 4px var(--primary-color)50;
}
